*{
	/*background-color: whitesmoke;*/
	margin: 0;
	padding: 0;
	font-family: centuri gothic;
}
header{ 
	 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fot2.jpg);
	 overflow: auto;
	 height: 100vh;
	 background-size: 100%;
	 background-position: center;
     transition: 1.5s ease;
	 /*background-color: blue;
     height: 50px;*/
}

.main ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
	margin-right: 17px;
}

.main ul li{
	display: inline-block;
}

.main ul li a{
	text-decoration: none;
	color: #fff;
	margin: 3px;
	padding: 5px 20px;
	border: 1px solid #fff;
    transition: 0.6s ease;
}

.main ul li a:hover{
    background-color: #fff;
    color: #000;
}
.main ul li.active a{
	background-color: #fff;
	color: #000;
}


.logo img{
	float: left;
	/*margin-top: 30px;*/
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5px;
	width: 120px;
	height: 75px;
}
.webtittle /*h5*/{
	color: white;
	margin-top: 10px;
	padding-left: 2%;
	/*font-size: 50px;*/
   /* padding: 30px 30px 20px;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}
.webtittle h1{
     padding-top: 1pt;
}
.webtittle h2{
     font-size: 22px;
}


.container{
	/*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imgM1.jpeg);*/
	/*background-color: white;*/
    height: 100vh;
    color: white;
	background-size: cover;
	background-position: center;
}
.container{

	margin: auto;
	max-width: 95%;

}

.parag {
	font-size: 15px;
	max-width: 95%;
	margin-bottom: auto;
	background-color: ;

}


footer.images{
	top: 20%;
}

footer{

	left: 0;
	bottom: 0;
	width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fot2.jpg);
    background-size: cover;
	background-position: center;
    height: 80px;
}

.social ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 25px;
}
.social ul li{
	display: inline-block;
}

.social ul li a{
	text-decoration: none;
	color: #fff;
	margin: 5px;
	padding: 5px 20px;
	border: 1px solid #fff;
    transition: 0.6s ease;
}

.social ul li a:hover{
    background-color: #fff;
    color: #000;
}

@media only screen and (max-width: 375px) {
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fot2.jpg);
    
    height: 100vh;
    padding-bottom: 180%;
	background-size: cover;
	background-position: center;
    transition: 1.6s ease;
	/*background-color: blue;
    height: 50px;*/
}
.logo img{
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	width: 80px;
	height: 50px;
}
.webtittle /*h5*/{
	color: white;
	font-size: 12px;
   /* padding: 30px 30px 20px;*/
	/*position: absolute;*/
	float: ;
	transform: translate(4%, 7%);
}
.webtittle h2{
     font-size: 17px;
}
.main ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
}

.main ul li{
	display: inline-block;
}

.main ul li a{
	text-decoration: none;
	color: #fff;
	margin: 1px;
	padding: 5px 9px;
	border: 1px solid #fff;
    transition: 0.6s ease;
}

.main ul li a:hover{
    background-color: #fff;
    color: #000;
}
.main ul li.active a{
	background-color: #fff;
	color: #000;
}
.container{
	/*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imgM1.jpeg);*/
	/*background-color: white;*/

    padding: 12% 5% 125% 5%; 
	background-position: center;
}
.container{
	/*color: whitesmoke;*/
}

footer{
    clear: both;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fot2.jpg);
	background-size: cover;
	background-position: bottom;
    height: 100px;
    bottom: 0px;
}

.social ul{
	list-style-type: none;
	position: center;
	margin-top: 28px;
	margin-right: 45px;
}
.social ul li{
	display: inline-block;
}

.social ul li a{
	text-decoration: none;
	color: #fff;
	margin: 5px;
	padding: 4px 9px;
	border: 1px solid #fff;
    transition: 0.6s ease;
}

.social ul li a:hover{
    background-color: #fff;
    color: #000;
}
.parag{
	max-width: 95%;
	margin: 5px;
	float: left;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: ;
}
.parag p{
	margin: 0px;
	float: left;

}
}







